<a href="https://colab.research.google.com/github/maegop/Exploratory-Data-Analysis-for-US-Accidents/blob/main/Pokemon_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 The dataset we'll be using is the compilation of stats and traits for the Pokémon video games. Pokémon is a popular game for generations of Nintendo handheld video game consoles where players collect and train animal-like creatures called Pokémon. We'll be creating a model to try to predict whether a Pokémon is a legendary Pokémon, a rare type of Pokémon who's the only one of its species.

There are a lot of existing compilations of Pokémon stats, but we'll be using a .CSV version found on Kaggle. There's a download button on the website, so save the file to your computer and we can begin.

Import data

In [ ]:
!pip install opendatasets --upgrade --quiet

In [ ]:
import opendatasets as od

download_url = 'https://www.kaggle.com/alopez247/pokemon'

od.download(download_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: maegop
Your Kaggle Key: ··········

100%|██████████| 715k/715k [00:00<00:00, 58.3MB/s]

Downloading pokemon.zip to ./pokemon

In [ ]:
df = pd.read_csv('/content/pokemon/pokemon_alopez247.csv')

In [ ]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [ ]:
df.columns

Index(['Number', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary',
       'Color', 'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')

We'll narrow our focus a little and only select categories we think will be relevant

In [ ]:
df = df[['isLegendary','Generation', 'Type_1', 'Type_2', 'HP', 'Attack', 'Defense', 'Sp_Atk', 'Sp_Def', 'Speed','Color','Egg_Group_1','Height_m','Weight_kg','Body_Style']]

In [ ]:
df

     isLegendary  Generation   Type_1  ... Height_m  Weight_kg       Body_Style
0          False           1    Grass  ...     0.71        6.9        quadruped
1          False           1    Grass  ...     0.99       13.0        quadruped
2          False           1    Grass  ...     2.01      100.0        quadruped
3          False           1     Fire  ...     0.61        8.5   bipedal_tailed
4          False           1     Fire  ...     1.09       19.0   bipedal_tailed
..           ...         ...      ...  ...      ...        ...              ...
716         True           6     Dark  ...     5.79      203.0        two_wings
717         True           6   Dragon  ...     5.00      305.0  serpentine_body
718         True           6     Rock  ...     0.71        8.8        head_arms
719         True           6  Psychic  ...     0.51        9.0        head_only
720         True           6     Fire  ...     1.70      195.0        quadruped

[721 rows x 15 columns]

### Normalization

Format the data to be read by the model.
* Make sure all the data is numerical. 

A few of the categories aren't numerical however. One example is the category that we'll be training our model to detect: the "isLegendary" column of data. These are the labels that we will eventually separate from the rest of the data and use as an answer key for the model's training. We'll convert this column from boolean "False" and "True" statements to the equivalent "0" and "1" integ

In [ ]:
df['isLegendary'] = df['isLegendary'].astype(int)
df['isLegendary']

0      0
1      0
2      0
3      0
4      0
      ..
716    1
717    1
718    1
719    1
720    1
Name: isLegendary, Length: 721, dtype: int64

Converting data to numbers could be just assign a number to each category, such as: Water = 1, Fire = 2, Grass = 3 and so on. But this isn't a good idea because these numerical assignments aren't ordinal; they don't lie on a scale. By doing this, we would be implying that Water is closer to Fire than it is Grass, which doesn't really make sense.

The solution to this is to create dummy variables. By doing this we'll be creating a new column for each possible variable. There will be a column called "Water" that would be a 1 if it was a water Pokémon, and a 0 if it wasn't. Then there will be another column called "Fire" that would be a 1 if it was a fire Pokémon, and so forth for the rest of the types. This prevents us from implying any pattern or direction among the types.

In [ ]:
def dummy_creation(df, dummy_categories):
    for i in dummy_categories:
        df_dummy = pd.get_dummies(df[i])
        df = pd.concat([df,df_dummy],axis=1)
        df = df.drop(i, axis=1)
    return(df)

This function first uses pd.get_dummies to create a dummy DataFrame of that category. As it's a seperate DataFrame, we'll need to concatenate it to our original DataFrame. And since we now have the variables represented properly as separate columns, we drop the original column. Having this in a function is nice because we can quickly do this for many categories:

In [ ]:
df = dummy_creation(df, ['Egg_Group_1', 'Body_Style', 'Color','Type_1', 'Type_2'])
df

     isLegendary  Generation   HP  Attack  ...  Psychic  Rock  Steel  Water
0              0           1   45      49  ...        0     0      0      0
1              0           1   60      62  ...        0     0      0      0
2              0           1   80      82  ...        0     0      0      0
3              0           1   39      52  ...        0     0      0      0
4              0           1   58      64  ...        0     0      0      0
..           ...         ...  ...     ...  ...      ...   ...    ...    ...
716            1           6  126     131  ...        0     0      0      0
717            1           6  108     100  ...        0     0      0      0
718            1           6   50     100  ...        0     0      0      0
719            1           6   80     110  ...        0     0      0      0
720            1           6   80     110  ...        0     0      0      1

[721 rows x 85 columns]

The importance of creating dummy variables
* Some categories are not numerical.
* Converting multiple categories into numbers implies that they are on a scale.
* The categories for "Type_1" should all be boolean (0 or 1).
* All of the above are true.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 85 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   isLegendary       721 non-null    int64
 1   Generation        721 non-null    int64
 2   HP                721 non-null    int64
 3   Attack            721 non-null    int64
 4   Defense           721 non-null    int64
 5   Sp_Atk            721 non-null    int64
 6   Sp_Def            721 non-null    int64
 7   Speed             721 non-null    int64
 8   Height_m          721 non-null    float64
 9   Weight_kg         721 non-null    float64
 10  Amorphous         721 non-null    uint8
 11  Bug               721 non-null    uint8
 12  Ditto             721 non-null    uint8
 13  Dragon            721 non-null    uint8
 14  Fairy             721 non-null    uint8
 15  Field             721 non-null    uint8
 16  Flying            721 non-null    uint8
 17  Grass             721 non-null    uint8
 18  Human-Like        721 non-null    uint8
 19  Mineral           721 non-null    uint8
 20  Monster           721 non-null    uint8
 21  Undiscovered      721 non-null    uint8
 22  Water_1           721 non-null    uint8
 23  Water_2           721 non-null    uint8
 24  Water_3           721 non-null    uint8
 25  bipedal_tailed    721 non-null    uint8
 26  bipedal_tailless  721 non-null    uint8
 27  four_wings        721 non-null    uint8
 28  head_arms         721 non-null    uint8
 29  head_base         721 non-null    uint8
 30  head_legs         721 non-null    uint8
 31  head_only         721 non-null    uint8
 32  insectoid         721 non-null    uint8
 33  multiple_bodies   721 non-null    uint8
 34  quadruped         721 non-null    uint8
 35  serpentine_body   721 non-null    uint8
 36  several_limbs     721 non-null    uint8
 37  two_wings         721 non-null    uint8
 38  with_fins         721 non-null    uint8
 39  Black             721 non-null    uint8
 40  Blue              721 non-null    uint8
 41  Brown             721 non-null    uint8
 42  Green             721 non-null    uint8
 43  Grey              721 non-null    uint8
 44  Pink              721 non-null    uint8
 45  Purple            721 non-null    uint8
 46  Red               721 non-null    uint8
 47  White             721 non-null    uint8
 48  Yellow            721 non-null    uint8
 49  Bug               721 non-null    uint8
 50  Dark              721 non-null    uint8
 51  Dragon            721 non-null    uint8
 52  Electric          721 non-null    uint8
 53  Fairy             721 non-null    uint8
 54  Fighting          721 non-null    uint8
 55  Fire              721 non-null    uint8
 56  Flying            721 non-null    uint8
 57  Ghost             721 non-null    uint8
 58  Grass             721 non-null    uint8
 59  Ground            721 non-null    uint8
 60  Ice               721 non-null    uint8
 61  Normal            721 non-null    uint8
 62  Poison            721 non-null    uint8
 63  Psychic           721 non-null    uint8
 64  Rock              721 non-null    uint8
 65  Steel             721 non-null    uint8
 66  Water             721 non-null    uint8
 67  Bug               721 non-null    uint8
 68  Dark              721 non-null    uint8
 69  Dragon            721 non-null    uint8
 70  Electric          721 non-null    uint8
 71  Fairy             721 non-null    uint8
 72  Fighting          721 non-null    uint8
 73  Fire              721 non-null    uint8
 74  Flying            721 non-null    uint8
 75  Ghost             721 non-null    uint8
 76  Grass             721 non-null    uint8
 77  Ground            721 non-null    uint8
 78  Ice               721 non-null    uint8
 79  Normal            721 non-null    uint8
 80  Poison            721 non-null    uint8
 81  Psychic           721 non-null    uint8
 82  Rock              721 non-null    uint8
 83  Steel             721 non-null    uint8
 84  Water             721 non-null    uint8
dtypes: float64(2), int64(8), uint8(75)
memory usage: 109.3 KB

In [20]:
def train_test_splitter(DataFrame, column):
    df_train = DataFrame.loc[df[column] != 1]
    df_test = DataFrame.loc[df[column] == 1]

    df_train = df_train.drop(column, axis=1)
    df_test = df_test.drop(column, axis=1)

    return(df_train, df_test)

df_train, df_test = train_test_splitter(df, 'Generation')

In [21]:
def label_delineator(df_train, df_test, label):
    
    train_data = df_train.drop(label, axis=1).values
    train_labels = df_train[label].values
    test_data = df_test.drop(label,axis=1).values
    test_labels = df_test[label].values
    return(train_data, train_labels, test_data, test_labels)

In [22]:
train_data, train_labels, test_data, test_labels = label_delineator(df_train, df_test, 'isLegendary')